<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}">
<title>Helmes Homework - Edit/Update</title>
</head>
<body>
	<h3>Now you can edit and update your data during session or <a href="/">add new user</a>.</h3>
	<div class="container">
		<form action="#"
		  th:action="@{/updateUser}"
		  th:object="${user}"
		  method="post">
			<label for="name">Name:</label><br>
		    <input type="text" th:class="${#fields.hasErrors('name')}? error-field" th:field="*{name}" id="name" placeholder="Name">
		    <span class="error-msg" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
			<label for="sectors">Sectors:</label>
			<select multiple size="5" th:class="${#fields.hasErrors('sectors')}? error-field" th:field="*{sectors}" id="sectors" >
				<option th:each="sector : ${sectors}" th:value="${sector.id}" th:text="${sector.name}"></option>			
			</select>
			<span class="error-msg" th:if="${#fields.hasErrors('sectors')}" th:errors="*{sectors}"></span>
		    <div class="checkbox"><input type="checkbox" th:field="*{terms}" id="terms">Agree to terms</div>
		    <span class="error-msg" th:if="${#fields.hasErrors('terms')}" th:errors="*{terms}"></span>
		    <input type="submit" value="Update">   
		</form>
	</div>
</body>
</html>
